body {
    background-color: #F0E2CB;
    margin: auto;
    width: 60%;
    color: #220038;
}
header {
    text-align: center;
}
p {
    font-size: 24px;
    font-family: Lancelot;
    margin: 12px 0px;
}
h1 {
    font-family: Jim Nightshade;
    font-size: 64px;
    font-weight: normal;
}
h2 {
    font-family: Kings;
    font-size: 40px;
    letter-spacing: 1.5px;
    font-weight: normal;
}
h3 {
    font-family: Kotta One;
    font-size: 32px;
    font-weight: normal;
    margin: 12px 0px;
}
h4 {
    font-family: Milonga;
    font-size: 26px;
    font-weight: normal;
    margin: 12px 0px;
}
ul li {
    font-size: 20px;
}
ol li {
    font-size: 20px;
}
#toc-index  {
  text-align: center;
}
#toc-index ol {
    margin: auto;
    display: inline-block;
    text-align: left;
}


/* NAV STUFF RIGHT HERE  */

header nav menu li {
    list-style: none;
}
header nav menu li a {
    display: flex;
    align-items: center;
    gap: 5px;
}
header nav menu#main-menu {
    padding:0;
    display: flex;
    justify-content: center;
    gap: 40px;
    height: 100px;
    width: 700px;
    background-image: url(../Assets/images/nav-bar.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: center;
}


/* FOOOOOOOOOOOOOOOOTER */

#related-articles {
    display: flex;
   
}










/* SPELLS STUFF YO */


/* SPELL CARD ORIENTATIONS */
.spell-l {
    display: flex;
    gap: 40px;
    
}
.spell-l h4 {
    padding-left: 20px;
}
.spell-l p {
    padding-left: 40px;
}

.spell-r h4 {
    padding-left: 20px;
}
.spell-r p {
    padding-left: 40px;
}
.spell-r {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    padding-top: 40px;
}
/* SPELL HEADERS */
#fire-spells h2 {
    text-align: center;
   
}
#water-spells h2 {
    text-align: center;
}
#lightening-spells h2 {
    text-align: center;
}
#earth-spells h2 {
    text-align: center;
}
#wind-spells h2 {
    text-align: center;
}

/* HEALING SPELLS */

#healing-spells h2 {
    text-align: center;
    padding-top: 100px;
}
.heal {
    text-align: center;
    display: flex;
    flex-direction: column;
    
}



/* ENCHANTMENTS */

#enchantments h2 {
    text-align: center;
    padding-top: 100px;
}

.enchantment-duo {
    display: flex;
    gap: 100px;
}
.enchantment-duo h3 {
    padding-left: 25px;
}

.enchantment-duo div {
    flex: 1;

    
}








/* STAFFS PAGE 
STAFFS PAGE STAFFS PAGE STAFFS PAGE */





/* &^*(%$*&^ ASK PROF ABOUT SPACING )*&%&*(^%*/

#wood-types {
    padding-top: 70px;
    padding-bottom: 70px;
}


#term-defs h3 {
    text-align: center;
    padding-top: 70px;
}
#term-defs h4 {
    padding-block: 10px;
    margin: 0px;
}
#term-defs p {
    padding-top: 0px;
    padding-bottom: 15px;
    padding-left: 30px;
}
#term-defs div {
    padding-inline: 150px;
}



.wood-header h2 {
    text-align: center;
    padding-top: 70px;
}
.wood {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
}

#wood-types div {
    padding-block: 25px;
    padding-inline: 70px;
}

.wood p {
    text-align: left;
}

.wood h4 {
    padding-left: 25px;
}