body {
    background-color: #F0E2CB;
    margin: auto;
    width: 60%;
    color: #220038;
}
header {
    text-align: center;
}
p {
    font-size: 24px;
    font-family: Lancelot;
    margin: 12px 0px;
}
h1 {
    font-family: Jim Nightshade;
    font-size: 64px;
    font-weight: normal;
}
h2 {
    font-family: Kings;
    font-size: 40px;
    letter-spacing: 1.5px;
    font-weight: normal;
}
h3 {
    font-family: Kotta One;
    font-size: 32px;
    font-weight: normal;
    margin: 12px 0px;
}
h4 {
    font-family: Milonga;
    font-size: 26px;
    font-weight: normal;
    margin: 12px 0px;
}

a {
    color: purple;
    transition: color .5s;
}

a:hover {
    color: red;
}

ul {
    list-style-image: url(../Assets/images/bullet-point.svg);
}

ul li {
    font-size: 20px;
}
ol li {
    font-size: 20px;
}
#toc-index  {
  text-align: center;
  padding-block: 35px;
}
#toc-index ol {
    margin: auto;
    display: inline-block;
    text-align: left;
}


/* NAV STUFF RIGHT HERE  */

header nav menu li {
    list-style: none;
}
header nav menu li a {
    display: flex;
    align-items: center;
    gap: 5px;
}
header nav menu#main-menu {
    padding:0;
    display: flex;
    justify-content: center;
    gap: 40px;
    height: 100px;
    width: 700px;
    background-image: url(../Assets/images/nav-bar.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: center;
}


/* FOOOOOOOOOOOOOOOOTER */

#related-articles {
    display: flex;
   
}





/* SCROLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL */

.scroll-animation {
    background-image: url();
    width: 1258px;
    height: 114px;
    position: fixed;
    bottom: 0px;
    animation: scrollmove 1s infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -10s);
}

@keyframes scrollmove {
    0%  { 
      background-image: url('../Assets/images/scroll-bottom-1.svg');
     }
     
     50%  { 
       background-image: url('../Assets/images/scroll-bottom-2.svg'); 
     }
     
     100% {
       background-image: url('../Assets/images/scroll-bottom-3.svg');
     }
   }













/* HOMEPAGE LANDING PAGE MAIN PAGE PAGE STUFF */ 




.spell-para {
    padding-block: 12px;
}





































/* SPELLS STUFF YO */

#elemental-spell h2 {
    text-align: center;
}
#elemental-spell h2::before {
    content: url(https://tcnj-des255.github.io/syllabus-fall24/assets/imgs/before.png);
    position: relative;
    top: 12px;
    left: 15px;
    right: 10px;
}
#elemental-spell h2::after {
    content: url(https://tcnj-des255.github.io/syllabus-fall24/assets/imgs/after.png);
    position: relative;
    top: 12px;
    left: 10px;
}



/* SPELL CARD ORIENTATIONS */
.spell-l {
    display: flex;
    gap: 40px;
    
}
.spell-l h4 {
    padding-left: 20px;
}
.spell-l p {
    padding-left: 40px;
}

.spell-r h4 {
    padding-left: 20px;
}
.spell-r p {
    padding-left: 40px;
}
.spell-r {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    padding-top: 40px;
}





/* SPELL HEADERS SPELL HEADERS SPELL HEADERS*/
#spell-sect h2 {
    text-align: center;
    padding-bottom: 40px;
}
#spell-sect {
    padding-block: 60px;
}


#spell-sect h2::before {
    content: url('../Assets/images/sub-head-before.svg');
    position: relative;
    top: 12px;
    left: 10px;
    right: 15px;
}

#spell-sect h2::after {
    content: url('../Assets/images/sub-head-after.svg');
    position: relative;
    top: 12px;
    left: 10px;
    
}







/* HEALING SPELLS */

#healing-spells h2 {
    text-align: center;
    padding-top: 100px;
}

.heal {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-inline: 125px;
    padding-block: 20px;
}

.heal h3, .heal h4, .heal p {
    margin: 0;
    padding: 7px;
}

.heal p {
    text-align: left;
}

/* ENCHANTMENTS */

#enchantments h2 {
    text-align: center;
    padding-top: 100px;
}

.enchantment-duo {
    display: flex;
    gap: 110px;
    padding-block: 11px;
}
.enchantment-duo h3 {
    padding-left: 25px;
}

.enchantment-duo h4 {
    padding-left: 25px;
}

.enchantment-duo div {
    flex: 1;

    
}








/* STAFFS PAGE 
STAFFS PAGE STAFFS PAGE STAFFS PAGE */



.wood-header h2 {
    text-align: center;
    padding-top: 50px;
}
.wood {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
    padding-block: 35px;
}

#wood-types div {
    padding-block: 25px;
    padding-inline: 70px;
}

.wood p {
    text-align: left;
    margin: 0px;
}

.wood h4 {
    padding-left: 25px;
    margin: 0px;
    padding-block: 7px;
}

.wood h3 {
    margin: 0px;
}



/* TERM DEFS */

#term-defs h3 {
    text-align: center;
    padding-block: 30px;
}

#term-defs div {
    padding-block: 15px;
    padding-inline: 120px;
}

.def p {
    padding-left: 40px;
}

/* CRYSTALS */

.crystal {
    display: flex;
    text-align: left;
    gap: 120px;
    
}

.crystal div {
    padding-block: 50px;
}

.crystal h4 {
    padding-left: 15px;
    margin: 0px;
}
.crystal h3 {
    margin: 0px;
}


